{% extends 'core/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'gallery/gallery.css' %}" />{% endblock %}
{% block active-gallery %}active{% endblock %}
{% block main %}
  <div class="container-fluid text-center">
    <h2>Galeria de photos</h2>
  </div>
  <div class="container-fluid bg-grey">
    {% for folder in gallery %}
      {% if forloop.first %}
        <div class="row">
      {% endif %}
      <div class="col-sm-3 text-center">
        {% if folder.background %}
          <a href="{{folder.get_absolute_url}}">
            <img src="{{folder.background}}" class="img-responsive gallery-folder img-thumbnail" alt="{{folder.title}}">
          </a>
          <p>{{folder.title}}</p>
        {% else %}
          <img src="{% static 'gallery/image-not-found.png' %}" class="img-responsive gallery-folder img-thumbnail" alt="{{folder.title}}">
        {% endif %}
      </div>
      {% if forloop.counter|divisibleby:4 %}
        </div><div class="row">
      {% endif %}
      {% if forloop.last %}
        </div>
      {% endif %}
    {% empty %}
      <p class="not-found">Não há pastas nessa galeria.</p>
    {% endfor %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="waves-effect">
          <a href="?page={{page_obj.previous_page_number}}">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </li>
      {% endif %}
      {% for page in paginator.page_range %}
        <li class="waves-effect {% if page == page_obj.number %}active{% endif %}">
          <a href="?page={{page}}">{{page}}</a>
        </li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="waves-effect">
          <a href="?page={{page_obj.next_page_number}}">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock %}
