.prof-description {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: justify;
}

.img-team {
  height: 250px !important;
  width: 250px !important;
  display: inline !important;
  margin-bottom: 20px;
}

.team-description {
  margin-bottom: 30px;
}

.jumbotron {
  padding-bottom: 0;
  padding-top: 0;
}

.historic {
  text-align: justify;
  text-indent: 50px;
  line-height: 1.4;
  margin-bottom: 20px;
  font-size: 18px;
  color: black;
}

.font {
  color: black;
  font-size: 18px;
}
