<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt">
  <head>
    <title>PET QUÍMICA UnB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'core/base.css' %}">
  </head>
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <header>
      {% include 'core/navbar.html' %}
    </header>
    <main>
      {% block main %}{% endblock %}
    </main>
    <footer>
      {% include 'core/footer.html' %}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="{% static 'core/base.js' %}"></script>
    <script src="{% static 'core/map.js' %}"></script>
  </body>
</html>
