<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt">
  <head>
    <title>PET QUÍMICA UnB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/base.css' %}">
    {% block css %}{% endblock %}
  </head>
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <header>
      {% block navbar %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'core:home' %}"><span class="glyphicon glyphicon-home"></span> PET QUÍMICA</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li class="{% block active-about %}{% endblock %}">
                  <a href="{% url 'team:team' %}"><span class="glyphicon glyphicon-education"></span> EQUIPE</a>
                </li>
                <li class="{% block active-historic %}{% endblock %}">
                  <a href="{% url 'team:historic' %}"><span class="glyphicon glyphicon-comment"></span> BREVE HISTÓRICO</a>
                </li>
                <li class="{% block active-info %}{% endblock %}">
                  <a href="{% url 'information:index' %}"><span class="glyphicon glyphicon-list-alt"></span> NOTÍCIAS</a>
                </li>
                <li class="{% block active-project %}{% endblock %}">
                  <a href="{% url 'project:index' %}"><span class="glyphicon glyphicon-briefcase"></span> PROJETOS</a>
                </li>
                <li class="{% block active-gallery %}{% endblock %}">
                  <a href="{% url 'gallery:gallery' %}"><span class="glyphicon glyphicon-picture"></span> GALERIA</a>
                </li>
                <li><a href="/admin/"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
              </ul>
            </div>
        </nav>
      {% endblock %}
    </header>
    <main>
      {% block main %}{% endblock %}
    </main>
    <footer>
      {% include 'core/footer.html' %}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'core/base.js' %}"></script>
  </body>
</html>
