{% extends 'core/base.html' %}
{% load staticfiles %}
{% block main %}
  <div class="jumbotron text-center">
    <h1>PET QUÍMICA IQ/UnB/MEC</h1>
    <p>Programa de Educação Tutorial do Instituto de Química/ Universidade de Brasília</p>
    <img src="{% static 'core/img/pet.jpg' %}" class="img-responsive margin" style="display:inline" alt="Bird" width="250" height="250">
   </div>

  <div id="sobre" class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-8">
        <h2>Quem somos</h2><br>
        <h4>{{about_us.title}}</h4><br>
        <p>{{about_us.description|linebreaksbr}}</p>
        <br><a href="#" class="btn btn-default btn-lg" role="button">Conheça nosso time</a>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>
  </div>

  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo slideanim"></span>
      </div>
      <div class="col-sm-8">
        <h2>O que fazemos</h2><br>
        <h4>{{what_we_do.title}}</h4>
        <p>{{what_we_do.description}}<p>
      </div>
    </div>
  </div>

  <div id="informacoes" class="container-fluid text-center bg-grey">
    <h2>INFORMAÇÕES</h2>
    <br>
    <div class="row slideanim">
      <div class="col-sm-4">
        <h4>Relatório Anual – PET Química UnB</h4>
        <p>Segue abaixo o relatório anual referente às atividades do grupo PET Química da Universidade de Brasília do ano de 2016. Todas os projetos e atividades ao longo do ano de 2016 estão documentadas no relatório, bem como seus respectivos resultados e avaliações.</p>
      </div>
      <div class="col-sm-4">
        <h4>Certificados da IX Semana da Química</h4>
        <p>Os certificados da IX Semana da Química estão disponíveis no link abaixo. A IX Semana da Química ocorreu em outubro de 2016. Todos os certificados já estão disponíveis, tanto os de participação quanto os de minicursos.</p>
      </div>
      <div class="col-sm-4">
        <h4>Cerimônia de entrega de medalhas OQDF 2016</h4>
        <p>Aos estudantes e coordenadores. A cerimônia de entrega de medalhas aos vencedores da OQDF 2016 ocorrerá na data 26/10/2016, às 19h00 no Instituto de Química, Universidade de Brasília.</p>
      </div>
    </div>
    <br><br><a href="#" class="btn btn-default btn-lg" role="button">Ver mais informações</a>
    <br><br>
  </div>

  <div id="projetos" class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h2>Projetos</h2><br>
        <p>Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. </p>
        <br><br><a href="#" class="btn btn-default btn-lg" role="button">Para saber mais</a>
      </div>
    </div>
  </div>

  <div id="exposicao" class="container-fluid text-center bg-grey">
    <h2>EXPOSIÇÕES DE FOTOS</h2><br>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="{% static 'core/img/clara.jpg' %}" class="img-responsive img-gallery" alt="Image">
        </div>
        <div class="item">
          <img src="{% static 'core/img/marianna.jpg' %}" class="img-responsive img-gallery" alt="Image">
        </div>
        <div class="item">
          <img src="{% static 'core/img/premiados.jpg' %}" class="img-responsive img-gallery" alt="Image">
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
    <br><br><a href="#" class="btn btn-default btn-lg" role="button">Ver galeria de fotos</a>
  </div>
  <div id="contato" class="container-fluid">
    <h2 class="text-center">CONTATO</h2>
    <div class="row">
      <div class="col-sm-5">
        <p><span class="glyphicon glyphicon-map-marker"></span> Brasília, BR</p>
        <p><span class="glyphicon glyphicon-phone"></span> +55 (61) 3107-2895</p>
        <p><span class="glyphicon glyphicon-envelope"></span> petunbquimica@gmail.com</p>
      </div>
      <div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Nome" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Mensagem" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="googleMap" style="height:400px;width:100%;"></div>
{% endblock %}
