<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'core:home' %}"><span class="glyphicon glyphicon-home"></span> PET QUÍMICA</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'team:team' %}"><span class="glyphicon glyphicon-education"></span> SOBRE</a></li>
        <li><a href="{% url 'team:historic' %}"><span class="glyphicon glyphicon-comment"></span> BREVE HISTÓRICO</a></li>
        <li><a href="{% url 'information:index' %}"><span class="glyphicon glyphicon-list-alt"></span> INFORMAÇÕES</a></li>
        <li><a href="{% url 'project:index' %}"><span class="glyphicon glyphicon-briefcase"></span> PROJETOS</a></li>
        <li><a href="{% url 'gallery:gallery' %}"><span class="glyphicon glyphicon-picture"></span> GALERIA</a></li>
        <li><a href="/admin/"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
      </ul>
    </div>
</nav>
