{% extends 'core/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'project/project.css' %}" />{% endblock %}
{% block active-project %}active{% endblock %}
{% block main %}
  <div class="container-fluid text-center">
    <h2>Projetos</h2>
    <form method="GET" accept-charset="utf-8">
      <div class="input-group">
        <input type="text" class="form-control" name="q_project" value="{{request.GET.q_project}}" placeholder="Pesquisar">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="container-fluid">
    {% for project in object_list %}
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">{{project.title}} <small><i>({{project.created_at}})</i></small></h4>
          <p class="text-justify">{{project.content}}</p>
          {% if project.link %}
            <a href="{{project.link}}" target="_blank" class="btn btn-default" role="button">Ver projeto</a>
          {% endif %}
        </div>
        <hr>
      </div>
    {% endfor %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="waves-effect">
          <a href="?page={{page_obj.previous_page_number}}">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </li>
      {% endif %}
      {% for page in paginator.page_range %}
        <li class=" waves-effect {% if page == page_obj.number %}active{% endif %}">
          <a href="?page={{page}}">{{page}}</a>
        </li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="waves-effect">
          <a href="?page={{page_obj.next_page_number}}">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock %}
