<div id="project" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2>Projetos</h2><br>
      <p>Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. Escrever mais. </p>
      <br><br><a href="{% url 'project:index' %}" class="btn btn-default btn-lg" role="button">Ver projetos</a>
    </div>
  </div>
</div>
