<div id="project" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Projetos</h2><br>
      <p class="text-justify identation">
        Os projetos do PET-Química tem como objetivo a melhoria da educação de forma ampla, por meio da
        tríade ensino, pesquisa e extensão. Além do desenvolvimento pessoal e profissional de seus
        integrantes, o PET organiza, promove e realiza eventos como a olimpíada de química e a semana da
        química para a integração e desenvolvimento extracurriculares dos discentes, contando com a
        participação de empresas, escolas e instituições públicas.
      </p>
      <p>Para saber mais sobre os projetos do PET, clique no botão abaixo.</p>
      <br><br><a href="{% url 'project:index' %}" class="btn btn-default btn-lg" role="button">Ver projetos</a>
    </div>
  </div>
</div>
