{% extends 'core/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'information/information.css' %}" />{% endblock %}
{% block active-info %}active{% endblock %}
{% block main %}
  <div class="jumbotron text-center">
    <h2>INFORMAÇÃO</h2>
    <p><a href="{% url 'information:index' %}">Voltar</a></p>
  </div>

  <div class="container-fluid bg-grey">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="mobile">{{information}}</h2>
        <h4><p class="text-justify text-muted">{{information.content|linebreaksbr}}</p></h4>
        <div class="row">
          {% if information.link %}
            <div class="col-md-4 mobile pull-right">
              <a href="{{information.link}}" class="btn btn-success pull-right space mobile block" target="_blank"><span class="glyphicon glyphicon-link"></span> Arquivos</a>
            </div>
          {% endif %}
          <div class="col-sm-8">
            <p><span class="glyphicon glyphicon-tags tags"></span> tags:
              {% for tag in information.tags.all %}
                <a href="{% url 'information:index_tag' tag.slug %}"> {{tag}}</a>{% if not forloop.last %},{% endif %}
              {% empty %}
                não há tags
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
