{% extends 'core/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'team/css/team.css' %}" />{% endblock %}
{% block active-historic %}active{% endblock %}
{% block main %}
<div class="container-fluid">
  <div class="jumbotron text-center">
    <h2>BREVE HISTÓRICO</h2>
  </div>
</div>
<div class="container-fluid bg-grey">
  <div class="container">
    <div class="col-sm-12">
      <p class="historic">
        O programa de Educação Tutorial (PET) foi instituído pela CAPES em 1979, sob o nome de Programa Especial de Treinamento. Teve seu nome
      alterado em 2004 e foi fortemente ampliado pelo governo federal, em 2006. O PET encontra-se, no presente, sob a gestão da Secretaria de
      Educação Superior do Ministério da Educação, através de seu Departamento de Projetos Especiais de Modernização e Qualificação do Ensino
      Superior (DEPEM-SESu/MEC). Segundo a enciclopédia livre Wikipedia, o grupo PET-Economia da Universidade de Brasília foi o primeiro a ser
      formado no Brasil. Um de seus integrantes foi Alexandre Tombini, ex-presidente do Banco Central. Atualmente o PET conta com 842 grupos
      distribuídos entre 121 IES.
      </p>
      <p class="historic">
        O PET é um programa acadêmico de excelência comprovada, direcionado a alunos em cursos de graduação. Um grupo pode ter 12 bolsistas e 06
        não bolsistas, podendo contar, ainda, com a contribuição de voluntários, todos orientados por um tutor que tem a função de estimulá-los a
        buscar ativamente informações e guiá-los a trabalhar suas formações como cidadãos de princípios sólidos, desenvolvendo seus valores
        éticos, morais, humanos e científicos.
      </p>
      <p class="historic">
        Os integrantes do grupo, denominados petianos, são flutuantes, no sentido em que, usualmente, podem dele participar a partir do segundo
        semestre de seus cursos acadêmicos e podem nele permanecer até a formatura. O ingresso é feito por sistema de seleção pública, com banca
        examinadora composta por três docentes do quadro permanente da unidade acadêmica ao qual pertencem e por um integrante do grupo que nele
        esteja há, ao menos, um ano. À medida que se formam, ou não mais desejam dele participar, por razões diversas, nova seleção é efetuada.
        No período de dedicação ao Programa, os petianos desenvolvem projetos extracurriculares em pesquisa, ensino e extensão. Através deles
        desenvolvem a capacidade de trabalhar em equipe, procuram transmitir aos demais colegas o espírito de liderança e o compromisso com a
        geração de conhecimento para a solução dos mais diversos problemas.
      </p>
      <p class="historic">
        Anualmente, o tutor do grupo apresenta Planejamento de Atividades que passa por avaliação institucional em diversas instâncias podendo
        ser, ou não, aprovado. Apresenta, ao final de cada ano, Relatório de Atividades e presta contas das despesas, cada qual passando,
        obrigatoriamente, pelo crivo de diversas instâncias institucionais.
      </p>
      <p class="font"><b>Fontes:</b></p>
      <p class="font">http://portal.mec.gov.br/pet;</p>
      <p class="font">http://www.unb2.unb.br/administracao/decanatos/deg/pet.html;</p>
      <p class="font">http://www.unifal-mg.edu.br/pet/oquee;</p>
      <p class="font">http://www.ufvjm.edu.br/prograd/pet-programa-de-educacao-tutorial.html;</p>
      <p class="font">http://pt.wikipedia.org/wiki/Programa_de_educa%C3%A7%C3%A3o_Tutorial;</p>
      <p class="font">http://www.prg.usp.br/?page_id=363;</p>
      <p class="font">http://pt.wikipedia.org/wiki/Programa_de_educa%C3%A7%C3%A3o_Tutorial#cite_note-1;</p>
    </div>
  </div>
</div>
{% endblock %}
