{% extends 'core/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'team/css/team.css' %}" />{% endblock %}
{% block active-about %}active{% endblock %}
{% block main %}
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h2>CONHEÇA NOSSO TIME</h2>
      <img src="{{teacher.photo}}" class="img-responsive img-circle img-team" alt="Professora {{teacher.name}}">
      <h4>Tutora {{teacher.name}}</h4>
    </div>
  </div>

  <div class="container-fluid text-center bg-grey">
    {% for member in team %}
      {% if forloop.first %}
        <div class="row slideanim">
      {% endif %}
      <div class="col-sm-3">
        <img src="{{member.photo}}" class="img-responsive img-circle img-team" alt="{{member.name}}" />
        <h4>{{member.name}}</h4>
      </div>
      {% if forloop.counter|divisibleby:4 %}
        </div><div class="row slideanim">
      {% endif %}
      {% if forloop.last %}</div>{% endif %}
    {% empty %}
      <p class="not-found">A equipe está vazia.</p>
    {% endfor %}
  </div>
{% endblock %}
