<div id="about" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-8">
      <h2>Quem somos</h2><br>
      <h4 class="text-justify identation">
        O grupo PET Química é um dos grupos de excelência em atividades acadêmicas, de extensão e
        pesquisa da Universidade de Brasília, partícipe do Programa de Educação Tutorial do
        Ministério da Educação
      </h4>
      <p class="text-justify identation">
        Financiado pelo Ministério da Educação, o grupo PET-Química conta com aproximadamente 20
        alunos de graduação dos cursos de Licenciatura e Bacharelado em Química, Química Tecnológica
        e Engenharia Química. A tutora, Elaine Rose Maia, doutora em cristalografia de macromoléculas
        vegetais e especialista em drug design, é professora titular da UnB. O foco do grupo está no
        incentivo aos alunos pelas Ciências Químicas.
      </p>
      <br>
      <a href="{% url 'team:historic' %}" class="btn btn-default btn-lg" role="button">Breve Histórico</a>
      <a href="{% url 'team:team' %}" class="btn btn-default btn-lg" role="button">Conheça nossa equipe</a>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>
