{% extends 'core/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'team/css/team.css' %}" />{% endblock %}
{% block active-about %}active{% endblock %}
{% block main %}
<div class="container-fluid container-prof">
  <div class="jumbotron text-center">
    <h2>CONHEÇA NOSSO TIME</h2>
    <img src="{{teacher.photo.url}}" class="img-responsive img-circle img-team" alt="Professora {{teacher.name}}">
    <h4>Tutora {{teacher.name}}</h4>
    <div class="col-sm-12">
      <p class="prof-description">{{teacher.description}}</p>
    </div>
  </div>
</div>

<div class="container-fluid text-center bg-grey">
  <div class="row slideanim team-description">
    <div class="col-sm-3">
      {% for member in team %}
        <img src="{{member.photo.url}}" class="img-responsive img-circle img-team" alt="{{member.name}}">
        <h4>{{member.name}}</h4>
        <p class="team-description">{{member.description|linebreaksbr}}</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
