{% extends 'core/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'team/css/team.css' %}" />{% endblock %}
{% block active-about %}active{% endblock %}
{% block main %}
<div class="container-fluid">
  <div class="jumbotron text-center">
    <h2>CONHEÇA NOSSO TIME</h2>
    <img src="{% static 'team/img/prof.jpg' %}" class="img-responsive img-circle img-team" alt="Professora Elaine Maia">
    <h4>Tutora Elaine Maia</h4>
    <div class="col-sm-12">
      <p class="prof-description">
        É Professor Titular (Classe E) da Universidade de Brasília. Professor convidado do Institut National Polytechnique de Lorraine, École Nationale Supérieure d'Agronomie et
        des Industries Alimentaires, Universite de Lorraine, França. Professor convidado do Institut Charles Gerhardt, Ecole Nationale Superieure de Chimie de Montpellier, Universite
        de Montpellier II, França. Bacharel em Química pela Universidade de Brasília (1976), Mestre (1978) em síntese e RMN de polissacarídeos, Doutor (1981) em Química Estrutural
        Macromolecular, via cristalografia por difração de raios-X e simulações moleculares. Mestrado e doutorado foram efetuados no Centre d´Etudes Nucleaires, Comissariat d´Energie
        Atomique (CEA/CENG), Grenoble, França. Diplomas emitidos pela Université Scientifique et Medicale de Grenoble (UScMG, atual Joseph Fourier). Pós-doutor (1984) em drug design,
        efetuado na Ecole Polytechnique, Franca, onde trabalhou, em seguida, como pesquisador (nivel Maitre de Conference), ate 1987. Especialista em Modelagem Molecular para a área
        de Ciências da Vida (Life Sciences), empresa TRIPOS Assoc., St. Louis, Missouri, USA, baseada em Paris, França. Diretora da área científica para Life Science da empresa Biosym
        Technologies (San Diego, CA, USA), para a Europa do Sul. Consultora científica da empresa Molecular Simulation (Parsipanny, NJ, USA) para a América do Sul. Consultora científica
        da empresa Accelrys Inc. (SD, CA, USA) para Life Science e Materials Science para a América Latina. Tem profunda experiência na área de Físico-Química Teórica Aplicada
        concentrando-se, principalmente, nos seguintes temas: concepção computacional de agentes terapêuticos (drug design) e interações com macromoléculas biológicas, simulações
        moleculares, dinâmica e previsão de propriedades poliméricas, estereoquímica de compostos orgânicos de interesse sintético.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid text-center bg-grey">
  <div class="row slideanim team-description">
    <div class="col-sm-3">
      <img src="{% static 'team/img/diego.jpg' %}" class="img-responsive img-circle img-team" alt="Diego">
      <h4>Diego</h4>
      <p>Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.</p>
    </div>
    <div class="col-sm-3">
      <img src="{% static 'team/img/eduarda.jpg' %}" class="img-responsive img-circle img-team" alt="Eduarda">
      <h4>Eduarda</h4>
      <p>Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.</p>
    </div>
    <div class="col-sm-3">
      <img src="{% static 'team/img/emiliano.jpg' %}" class="img-responsive img-circle img-team" alt="Emiliano">
      <h4>Emiliano</h4>
      <p>Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.</p>
    </div>
    <div class="col-sm-3">
      <img src="{% static 'team/img/hugo.jpg' %}" class="img-responsive img-circle img-team" alt="Hugo">
      <h4>Hugo</h4>
      <p>Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.</p>
    </div>
  </div>
  <div class="row slideanim">
    <div class="col-sm-3">
      <img src="{% static 'team/img/snel.jpg' %}" class="img-responsive img-circle img-team" alt="Snel">
      <h4>Snel</h4>
      <p>Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.</p>
    </div>
    <div class="col-sm-3">
      <img src="{% static 'team/img/jessica.jpg' %}" class="img-responsive img-circle img-team" alt="Jessica">
      <h4>Jessica</h4>
      <p>Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.</p>
    </div>
    <div class="col-sm-3">
      <img src="{% static 'team/img/meire.jpg' %}" class="img-responsive img-circle img-team" alt="Meire">
      <h4>Meire</h4>
      <p>Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno
      aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.</p>
    </div>
    <div class="col-sm-3">
      <img src="{% static 'team/img/anndreia.png' %}" class="img-responsive img-circle img-team" alt="Anndreia">
      <h4>Anndreia</h4>
      <p>Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno
      aqui aqui.Escrever sobre o aluno aqui aqui.Escrever sobre o aluno aqui aqui.</p>
    </div>
  </div>
</div>
{% endblock %}
